<%-  include('./fragments/header.ejs') %>

    <main>
        <h2>Strona główna</h2>
        <p>
            Księgarnia HatChards potrzebuje otworzyć sklep internetowy. 
            Potrzebują aplikacji, która pozwól im zarządzać zamówieniami. 
            Chcemy pamiętać informacje o Klientach, Książkach, Autorach książek oraz kto jakie książki zamówił.
        </p>
    </main>

<%- include('./fragments/footer.ejs')%>